body {
    background-image: url('../../images/back.jpg');
}

.product-container {
    width: 75%;
    margin: 0 auto;
    border: 1px;
    background-color: white;
}

.maybe-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

.slick-slide {
    margin: 0 0px;
}

.slick-slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.slick-slide img {
    margin: 0 auto;
}

.product-card {
    display: flex;
    flex-direction: column; /* Вертикальная направленность Flexbox */
    justify-content: space-between; /* Распределение пространства между элементами */
    margin-bottom: 5px;
    width: 150px;
    height: 600px;
    background-color: white; /* Добавьте отступы внутри карточки, если нужно */
}

.product-price {
    font-weight: bold;
    color: #b54848;
}

.link-style {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.category-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.product-sale-percentage {
    font-size: 18px;
    font-weight: bold;
}

.product-price.discounted {
    text-decoration: line-through;
    font-size: 1em;
    color: #888;
    margin-bottom: 0;
}

.product-saleprice.counted {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #b54848;
    margin-left: 10px;
    margin-top: 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: normal;
    word-break: break-word;
}

.product-details {
    font-size: 14px;
    flex-grow: 1; /* Занимает оставшееся пространство */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание кнопок по центру */
    margin-top: 10px; /* Отступ сверху для кнопок */
}

.product-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-actions button:hover {
    background-color: #ddd;
}

.product-sale-percentage {
    font-size: 1em;
    font-weight: bold;
    color: green;
    margin-top: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

.product-image {
    position: relative;
}

.product-discount-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

.product-discount-text {
    font-size: 18px;
    font-weight: bold;
    color: #b54848;
}

.product-image-container {
    position: relative;
}

.product-discount-overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: rgb(255, 0, 0);
    padding: 0px 5px;
    border-radius: 5px;
}

.product-discount-text {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
